body {
  background-color: #f8fafc;
}

.home {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em 2em;
  font-family: "Sansation", sans-serif;
  text-align: center;
  margin-top: 0;
  background-color: #f8fafc;
  position: relative;
}
 
.home::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url("imagem_Estudos.jpg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.30; 
  z-index: 0;
  pointer-events: none;
  max-height: 100h;
}




.titulo {
  width: 1100px;
  height: 500px;
  text-align: left;
  transform: translateX(-100px);
  padding-top: 0;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 60px;
}

.titulo h1 {
  font-size: 5em;
  font-weight: 700;
  color: #033b85;
  margin: 0.5em 0;
  line-height: 1.2;
  text-transform: uppercase;
}

.titulo p {
  max-width: 600px;
  font-size: 1.5em;
  font-weight: 300;
  color: #083475; /* cinza suave */
  margin-bottom: 2em;
}

.buttons {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
}

.primary {
  background-color: rgba(1,141,254,255);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.3em;
  padding: 0.7em 1.2em;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  opacity: 1;
  

}

.secondary {
  background-color: #1e3a8a;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  padding: 0.7em 1.2em;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  margin-right: 30px;
  margin-left: 30px;
  opacity: 1;


}

.homeImage {
  position: absolute;
  right: -180px;
  height: 1000px;
  width: auto;
  z-index: 1;
  pointer-events: none;
}

.homeImage::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 260px; /* aumente a largura do gradiente */
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(203,240,250,0) 0%,
    rgba(203,240,250,0.5) 60%,
    #cbf0fa 100%
  );
  pointer-events: none;

}

.estudanteImageBg {
  width: 300%;
  max-width: 800px;
  height: 400px; /* ajuste conforme necessário */
  margin: 0 auto 2rem auto;
  border-radius: 8px;
  opacity: 0.9;

  background-size: cover;
  background-position: center;
}