.sobreWrapper {
  padding: 3rem 0;
  height: 120vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 0 1rem;
}

.titulo {
  font-size: 4.5rem;
  font-weight: bold;
  color: #002244;
  margin-bottom: 1rem;
}

.titulo span {
  background: linear-gradient(
    90deg,
    #2563eb 0%,
    #1d4ed8 60%,
    #00c6fb 90%,
    #00c6fb 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.subtitulo {
  color: #333;
  font-size: 1.125rem;
  margin-bottom: 3rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
}

.card {
  background: white;
  padding: 1.5rem;
  border-radius: 20px;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  min-height: 175px;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.icone {
  color: #2997e5;
  margin-bottom: 1rem;
}

.cardTitulo {
  font-size: 1.125rem;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 0.5rem;
}

.cardDescricao {
  color: #4b5563;
  font-size: 0.95rem;
  line-height: 1.6;
}

.botaoWrapper {
  margin-top: 6rem;
}

.botao {
  background: linear-gradient(
    90deg,
    #2563eb 0%,
    #1d4ed8 60%,
    #00c6fb 90%,
    #00c6fb 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  padding: 20px 20px;
  border-radius: 9999px;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.botao:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}